.input-icons i {
  position: absolute;
  left: 11%;
}

.input-icons {
  width: 55%;
  margin: 32px 11%;
}

.icon {
  padding: 10px;
  color: rgb(0, 0, 0);
  min-width: 10px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  text-align: left;
  border: 1px solid #d7dfe9;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .input-icons {
    width: 80%;
  }
}
